xplan-core/xplan-validator-core/src/main/resources/schemas/validationReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidationReport" type="ValidationReportType"/>
  <xs:complexType name="ErrorsType">
    <xs:sequence>
      <xs:element type="xs:string" name="error" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessagesType">
    <xs:sequence>
      <xs:element type="xs:string" name="message" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationReportType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:dateTime" name="date"/>
      <xs:element type="xs:boolean" name="isValid"/>
      <xs:element type="PlanType" name="Plan"/>
      <xs:element type="ValidationType" name="Validation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationType">
    <xs:sequence>
      <xs:element type="SemType" name="Sem"/>
      <xs:element type="SynType" name="Syn"/>
      <xs:element type="GeomType" name="Geom"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RuleType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:boolean" name="isValid"/>
      <xs:element type="xs:string" name="message"/>
      <xs:element type="InvalidFeaturesType" name="InvalidFeatures" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvalidFeaturesType">
    <xs:sequence>
      <xs:element type="xs:string" name="gmlid"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RulesType">
    <xs:sequence>
      <xs:element type="RuleType" name="Rule" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WarningsType">
    <xs:sequence>
      <xs:element type="xs:string" name="warning" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SemType">
    <xs:sequence>
      <xs:element type="xs:string" name="result"/>
      <xs:element type="xs:string" name="details"/>
      <xs:element type="RulesType" name="Rules"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeomType">
    <xs:sequence>
      <xs:element type="xs:string" name="result"/>
      <xs:element type="xs:string" name="details"/>
      <xs:element type="ErrorsType" name="Errors"/>
      <xs:element type="WarningsType" name="Warnings"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SynType">
    <xs:sequence>
      <xs:element type="xs:string" name="result"/>
      <xs:element type="xs:string" name="details"/>
      <xs:element type="MessagesType" name="Messages"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlanType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="id"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>